

.bordered-card {
	border: 1px solid $text-lightgray;
	border-radius: 4px;
	background: white;
	margin: 8px;
  cursor: pointer;

  & .body {
    padding: 16px;
    
    & .icon {
      font-size: 12pt;
      color: $green;
      margin: 10px;
    }
    & .icon-lg {
      font-size: 25pt;
      color: $green;
      margin-top: 12px;
      margin-bottom: 12px;
    }
    & .articles-count {
      font-family: $font-family;
      font-weight: bold;
      font-size: 8pt;
      color: $green;

      & .black {
        color: black;
      }
    }
  }

  & .mini-articles-count {
    position: absolute; 
    right: 50px;
    top: 30px;
    font-size: 8pt;

    & .mini-articles-count-icon {
      color: $green;
    }
    & .mini-articles-count-text {
      color: black;
    }
  }

	&:hover {
		background: rgba(0, 0, 0, .05);
  }
}