.btn {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  outline: 0 !important;
  -webkit-transition: all ease-in-out .15s;
  -o-transition: all ease-in-out .15s;
  transition: all ease-in-out .15s;
  position: relative;
  padding: 0.65rem 1.25rem;
  cursor: pointer;
  overflow: hidden;
}
.btn:active, .btn.active,
.show > .btn.dropdown-toggle,
.open > .btn.dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none; 
}
.btn .active-visible {
  display: none;
}
.btn.active .active-visible {
  display: inline;
}
.btn.active .active-hidden {
  display: none;
}

.btn-circle {
  -webkit-border-radius: 50px;
  border-radius: 50px; }

.btn-primary {
  color: #fff;
  background-color: $green;
  border-color: $green;
  border-width: 0px;
}
.btn-primary:focus, .btn-primary.focus, .btn-primary:hover, .btn-primary.active, .btn-primary:active, .btn-primary:disabled, .btn-primary.disabled, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: $green;
  border-color: $green;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
}

.btn-outline {
  background-color: transparent;
  color: #fff;
  border-color: #fff; }

.btn-icon-only {
  height: 40px;
  width: 40px;
  padding: 0;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }


.btn-outline-secondary {
  background-image: none;
  background-color: white !important;
  border-color: rgba(0, 0, 0, 0.1); }
  .btn-outline-secondary:focus, .btn-outline-secondary.focus, .btn-outline-secondary:hover, .btn-outline-secondary.active, .btn-outline-secondary:active {
    background-color: white !important;
    border-color: white !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none; }