.pa-0 {padding: 0px !important}
.px-0 {padding-left: 0px !important; padding-right: 0px !important}
.py-0 {padding-top: 0px !important; padding-bottom: 0px !important}
.pt-0 {padding-top: 0px !important;}
.pa-4{padding:1.5rem!important}
.pt-4{padding-top:1.5rem!important}
.pb-4{padding-bottom:1.5rem!important}

.ma-0 {margin: 0px !important}
.mx-0 {margin-left: 0px !important; margin-right: 0px !important}
.my-0 {margin-top: 0px !important; margin-bottom: 0px !important}
.mt-0 {margin-top: 0px !important;}

.ma-4{margin:1.5rem!important}
.mt-4{margin-top:1.5rem!important}
.mb-4{margin-bottom:1.5rem!important}