.text-primary {
  color: $green !important; 
}
  
.title {
  font-family: $font-family;
  font-weight: bold;
  font-size: 14pt;
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
}
.title-two-rows {
  font-family: $font-family;
  font-weight: bold;
  font-size: 14pt;
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
  min-height: 44px;
}
.subtitle {
  font-family: $font-family;
  font-size: 8pt;
  text-align: center;
}
.caption {
  font-family: $font-family;
  font-weight: bold;
  font-size: 7pt;
  color: $text-gray;
  margin-bottom: 12px;
}
.headline {
  font-family: $font-family;
  font-size: 11pt;
  margin-bottom: 6px;
  
  & .center {
    text-align: center;
  }
}
.headline-center {
  font-family: $font-family;
  font-size: 11pt;
  margin-bottom: 6px;
  text-align: center;
}
.subheadline {
  font-family: $font-family;
  font-size: 7pt;
}

.divider {
  border: 1px solid $text-lightgray;
  width: 100%;
}