<template>
  <div>
    <div class="container">
      <ul class="breadcrumb ma-0 px-0 pt-0">
        <li 
          v-for="(breadcrumb, index) in breadcrumbs"
          class="breadcrumb-item"
          :key="index">
          <a 
            class="text-primary"
            v-if="breadcrumb.name"
            @click="gotoRoute(breadcrumb)">
            {{breadcrumb.text}}
          </a>
          <span v-else-if="breadcrumb.active && categoryTitle">{{categoryTitle}}</span>
          <span v-else>{{breadcrumb.text}}</span>
        </li>
      </ul>
      <div class="row" v-if="categoryDetails && categoryDetails.id">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="bordered-card">
            <span class="mini-articles-count">
              <i class="fa fa-file mini-articles-count-icon"></i>
              <span class="mini-articles-count-text">{{ categoryDetails.totalArticle || 0 }}</span>
            </span>
            <div class="body d-flex flex-column align-items-center">
              <i :class="categoryDetails | formatCategoryIconClass"></i>
              <span class="title">{{ categoryDetails.title }}</span>
              <span class="caption">
                Last update {{ categoryDetails | formatCategoryLastUpdatedDate}}
              </span>
            </div>
            <div class="divider"></div>
            <div class="body d-flex flex-column align-items-center">
              <i class="fa fa-info-circle icon mt-0"></i>
              <span class="subtitle">{{ categoryDetails.description }}</span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
          <div class="d-flex flex-column">
            <div 
              v-for="(article, index) in categoryArticles"
              class="bordered-card"
              :key="index">
              <div class="body d-flex flex-row align-items-center">
                <i :class="article | formatArticleIconClass"></i>
                <div class="d-flex flex-column w-100">
                  <span class="headline">{{ article.title }}</span>
                  <span class="subheadline">Updated {{ article | formatArticleLastUpdatedDate }}</span>
                </div>
                <i class="icon fa fa-chevron-right"></i>
              </div>
            </div>
          </div>  
        </div>
      </div>
      <div class="row" v-else>
        <div class="col-12">
          <div class="placeholder d-flex flex-column align-item-center">
            <span>No data available.</span>
            <span>Your search doesn't match any result(s).</span>
          </div>
        </div>
      </div>
    </div>
    <div class="divider mt-4 mb-4"></div>
    <div class="container-fluid pa-4">
      <div class="d-flex flex-column justify-content-center">
        <span class="headline-center">Other Categories</span>
        <div class="d-flex flex-row align-items-center">
          <div class="pa-4">
            <button
              class="btn btn-outline-secondary btn-circle btn-icon-only"
              :disabled="page <= 1"
              @click="clickPreviousOtherCategories()">
              <i class="fa fa-chevron-left"></i>
            </button>
          </div>
          <div class="container-fluid">
            <div class="row w-100">
              <div
                v-for="(category, index) in otherCategories || []"
                class="col-sm-6 col-md-4 pa-0 ma-0"
                :key="index"
                @click="clickOpenCategory(category)">
                <div class="bordered-card">
                  <div class="body d-flex flex-column align-items-center">
                    <i :class="category | formatCategoryIconClass"></i>
                    <span class="title-two-rows">
                      <span class="two-rows">{{ category.title }}</span>
                    </span>
                    <span class="articles-count">{{ category.totalArticle || 0 }} articles</span>
                    <span class="subtitle">
                      Last update {{ category | formatCategoryLastUpdatedDate}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pa-4">
            <button 
              class="btn btn-outline-secondary btn-circle btn-icon-only"
              :disabled="!(otherCategories || []).length"
              @click="clickNextOtherCategories()">
              <i class="fa fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { differenceInDays, format } from 'date-fns';

export default {
	filters: {
		formatCategoryIconClass (category) {
			return category?.icon
				? `icon-lg fa fa-${category.icon}`
				: {};
		},
		formatCategoryLastUpdatedDate (category) {
			const updatedOn = category?.updatedOn;
			if (!updatedOn) return null;
			const diff = updatedOn 
				? differenceInDays(new Date(), new Date(updatedOn))
				: 0;

			return diff < 8
				?  `${diff} days ago`
				: format(new Date(updatedOn), 'MMM D, YYYY');
		},
		formatArticleIconClass (article) {
			return article?.icon
				? `icon fa fa-${article.icon}`
				: {};
		},
		formatArticleLastUpdatedDate (article) {
			const updatedOn = article?.updatedOn;
			if (!updatedOn) return null;
			const diff = updatedOn 
				? differenceInDays(new Date(), new Date(updatedOn))
				: 0;

			return diff < 8
				?  `${diff} days ago`
				: format(new Date(updatedOn), 'MMM D, YYYY');
		},
  },
  data () {
    return {
      page: 1,
      otherCategories: [],
    };
  },
	computed: {
    categoryId () {
      return this.$route.params.id;
    },
    categoryDetails () {
      return this.$store.state.categoryDetails;
    },
    categoryTitle () {
      return this.$store.state.categoryDetails?.title;
    },
    categoryArticles () {
      return this.$store.state.categoryDetails?.$populated?.articles || [];
    },
    breadcrumbs () {
      return this.$route.meta.breadcrumbs;
    }
  },
  watch: {
    page () {
      this.loadOtherCategories();
    },
  },
  beforeCreate() {
    this.$store.dispatch('clearCategoryDetails');
  },
	mounted () {
		this.init();
	},
  beforeDestroy() {
    this.$store.dispatch('clearCategoryDetails');
  },
	methods: {
		init () {
      this.loadCategory();
      this.loadOtherCategories();
    },
    clickPreviousOtherCategories () {
      this.page = this.page - 1;
    },
    clickNextOtherCategories () {
      this.page = this.page + 1;
    },
    clickOpenCategory (category) {
      this.$router.push({
        name: 'category-details',
        params: { id: category?.id },
      });
    },
    gotoRoute (breadcrumb) {
      const route = { name: breadcrumb.name };
      this.$router.push(route);
    },
    async loadCategory () {
      try {
        const id = this.categoryId;
        await this.$store.dispatch('loadCategoryDetails', { id })
      } catch (error) {
        console.error(error);
      }
    },
    async loadOtherCategories () {
      try {
        const excludedId = this.categoryId;
        const page = this.page || 1;
        const items = await this.$store.dispatch('loadOtherCategories', { 
          excludedId,
          page,
          enabled: true,
        });
        this.otherCategories = items || [];
      } catch (error) {
        console.error(error);
      }
    },
	},
}
</script>
<style lang="scss" scoped>
.container {
	max-width: 860px;
}

.placeholder {
	font-family: $font-family;
	font-weight: bold;
	font-size: 14pt;
	margin-top: 24px;
	margin-bottom: 24px;
	text-align: center;
}
</style>