<template>
	<div class="container">
		<div class="row" v-if="categories && categories.length">
			<div
				v-for="(category, index) in categories"
				class="col-sm-6 col-md-4 pa-0 ma-0"
				:key="index"
				@click="clickOpenCategory(category)">
				<div class="bordered-card">
					<div class="body d-flex flex-column align-items-center">
						<i :class="category | formatCategoryIconClass"></i>
						<span class="title-two-rows">{{ category.title }}</span>
						<span class="articles-count">{{ category.totalArticle || 0 }} articles</span>
						<span class="subtitle">
							Last update {{ category | formatCategoryLastUpdatedDate}}
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row" v-else>
			<div class="col-12">
				<div class="placeholder d-flex flex-column align-item-center">
					<span>No data available.</span>
					<span>Your search doesn't match any result(s).</span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { differenceInDays, format } from 'date-fns';

export default {
	filters: {
		formatCategoryIconClass (category) {
			return category?.icon
				? `icon-lg fa fa-${category.icon}`
				: {};
		},
		formatCategoryLastUpdatedDate (category) {
			const updatedOn = category?.updatedOn;
			if (!updatedOn) return null;
			const diff = updatedOn 
				? differenceInDays(new Date(), new Date(updatedOn))
				: 0;

			return diff < 8
				?  `${diff} days ago`
				: format(new Date(updatedOn), 'MMM D, YYYY');
		},
	},
	computed: {
		categoriesSearchText () {
			return this.$store.state.categoriesSearchText;
		},
		categories () {
			return this.$store.state.categories || [];
		},
	},
	watch: {
		categoriesSearchText () {
			this.loadCategories();
		},
	},
	mounted () {
		this.init();
	},
	methods: {
		init () {
			this.loadCategories();
		},
    clickOpenCategory (category) {
      this.$router.push({
        name: 'category-details',
        params: { id: category?.id },
      });
    },
		async loadCategories () {
			try {
				await this.$store.dispatch('loadCategories', {
					searchString: this.categoriesSearchText,
					enabled: true,
				});
			} catch (error) {
				console.error(error);
			}
		},
	},
}
</script>
<style lang="scss" scoped>
.container {
	max-width: 860px;
}

.placeholder {
	font-family: $font-family;
	font-weight: bold;
	font-size: 14pt;
	margin-top: 24px;
	margin-bottom: 24px;
	text-align: center;
}
</style>