<template>
  <div>
    <div class="container">
      <ul class="breadcrumb ma-0 px-0 pt-0">
        <li 
          v-for="(breadcrumb, index) in breadcrumbs"
          class="breadcrumb-item"
          :key="index">
          <a 
            class="text-primary"
            v-if="breadcrumb.name"
            @click="gotoRoute(breadcrumb)">
            {{breadcrumb.text}}
          </a>
          <span v-else>{{breadcrumb.text}}</span>
        </li>
      </ul>
      <div 
        v-if="searchedArticles && searchedArticles.length"
        class="d-flex flex-column justify-content-center pa-4">
        <span class="headline-center">
          <span>Showing results for</span>
          <span class="text-primary">&nbsp;{{ searchString }}</span>
        </span>
        <div 
          v-for="(article, index) in searchedArticles"
          class="bordered-card"
          :key="index">
          <div class="body d-flex flex-row align-items-center">
            <i :class="article | formatArticleIconClass"></i>
            <div class="d-flex flex-column w-100">
              <span class="headline">{{ article.title }}</span>
              <span class="subheadline">{{ article.content }}</span>
            </div>
            <i class="icon fa fa-chevron-right"></i>
          </div>
        </div>
      </div>
      <div 
        v-else
        class="d-flex flex-column justify-content-center pa-4">
        <!-- <img src="../assets/images/empty-search.svg"> -->
        <span class="title">No search results</span>
        <span class="subtitle">
          <span>Please, try again or</span>
          <span class="text-primary">&nbsp;Submit a ticket</span>
        </span>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  filters: {
		formatArticleIconClass (article) {
			return article?.icon
				? `icon fa fa-${article.icon}`
				: {};
		},
  },
  computed: {
    breadcrumbs () {
      return this.$route.meta.breadcrumbs;
    },
    searchString () {
      return this.$store.state.categoriesSearchText || '';
    },
    searchedArticles () {
      return this.$store.state.searchedArticles || [];
    },
  },
  watch: {
    searchString () {
      this.searchArticles();
    },
  },
  methods: {
    async searchArticles () {
      try {
        await this.$store.dispatch('searchArticles', {
          searchString: this.searchString,
        });
      } catch (error) {
        console.error('error', error);
      }
    },
  },
};
</script>