.form-control {
  display: block;
  width: 100%;
  padding: 0.65rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5;
  color: $text-black;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid $text-gray;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border-radius: 0.25rem;
  overflow: visible;
  box-sizing: border-box;
  
  &:focus {
    outline: none !important;
    border: 1px solid $green;
  }
  &::-webkit-input-placeholder {
    color: #919ca8;
  }
  &::-moz-placeholder {
    color: #919ca8;
  }
  &:-ms-input-placeholder {
    color: #919ca8;
  }
  &::-ms-input-placeholder {
    color: #919ca8;
  }
  &::placeholder {
    color: #919ca8;
  }
}

.input-group-icon {
  position: relative;
  color: #71808f;

  & .input-icon {
    position: absolute;
    top: 0;
    height: 100%;
    width: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  & .input-group-lg .input-icon {
    width: 50px;
  }
}

.input-group-icon-left {
  & .form-control {
    padding-left: 60px;
  }
  & .input-icon-left {
    left: 0;
  }
  & .input-group-lg .form-control {
    padding-left: 50px;
  }
}

.input-group-icon-right {
  & .form-control {
    padding-right: 60px;
  }

  & .input-icon-right {
    right: 0;
    left: auto;
  }
  
  & .input-group-lg .form-control {
    padding-right: 50px; 
  }
}