<template>
	<div id="header-wrapper">
		<div id="header-text">
			<h1>Knowledge base doesn't have to be boring</h1>
			<h3>Everything you need to manage your messaging</h3>
		</div>
		<div id="header-search">
			<div class="search-container">
				<tawk-generic-search v-model="searchString" @search="onSearch"></tawk-generic-search>
			</div>
		</div>
	</div>
</template>

<script>
import GenericSearch from './commons/GenericSearch.vue';

export default {
	components: {
		'tawk-generic-search': GenericSearch,
	},
	data () {
		return {
			searchString: null,
		};
	},
	mounted () {
		this.init();
	},
	methods: {
		init () {
			this.searchString = this.$store.state.categoriesSearchText;
		},
		onSearch (searchString) {
			this.$store.commit('updateCategoriesSearchText', searchString);
		},
	},
}
</script>

<style lang="scss" scoped>
	#header-text{
		text-align: center;
		font-family: $font-family;
		color: $text-black;
		padding: 20px;

		h1{
			font-style: normal;
			font-weight: bold;
			font-size: 34px;
			line-height: 41px;
		}

		h3{
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 24px;
		}
	}

	#header-search{
		.search-container{
			max-width: 540px;
			padding-right: 15px;
			padding-left: 15px;
			margin-right: auto;
			margin-left: auto
		}
	}
</style>