<template>
  <div class="input-group-icon input-group-lg input-group-icon-right">
    <input 
      class="form-control"
      v-model="model"
      :placeholder="placeholder"
      @keyup.enter="emitSearch">
    <button 
      class="input-icon input-icon-right btn btn-primary"
      @click="emitSearch">
      <i class="fa fa-search"></i>
    </button>
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: String,
      default: null,
    },
    placeholder: {
      type: String,
      default: "Search..."
    }
  },
  computed: {
    model: {
      get () {
        return this.value;
      },
      set (value) {
        this.$emit('input', value);
      },
    },
  },
  methods: {
    emitSearch () {
      this.$emit('search', this.value);
    }
  },
};
</script>
<style lang="scss">

</style>