<template>
	<div>
		<tawk-header></tawk-header>
    <div id="router-container" class="container">  
			<router-view :key="$route.fullPath"></router-view>
    </div>
	</div>
</template>

<script>
import Header from './components/Header.vue'

export default {
  name: 'App',
	components:{
		'tawk-header': Header
	}
};
</script>

<style lang="scss">
  #router-container {
    background: $background-lightgray;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 0;
    padding-right: 0;
		height: 100%;
		margin-top: 2.5rem;
  }
</style>